html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box-title .h1{ 
    margin: 0 auto;
    width: 200px;
    height: 100px;
    background-color: aquamarine;
    border-radius: 2px;
    bottom: -20px;
    position: relative;
}
#clase{
    s
}
.box-description{
    border-radius: 2px;
    margin: 0 auto;
    width: 600px;
    height: 800px;
    background-color: blueviolet;
}